@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);
body {
    background-color: #efefef;
    font-size: 100%;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
}

form {
    border-top: 5px solid #01caa7;
}

fieldset {
    margin: auto;
    width: 470px;
    height: auto;
    border: 1px solid #e5e5e5;
    border-top: 0px solid #e5e5e5;
    background: #fdfdfd;
    padding: 40px;
}

form div {
    padding: 0 0 40px 0;
}

form label {
    float: left;
    width: 200px;
    font-size: 1em;
}

form label.mid {
    line-height: 40px;
}

form input,
form select {
    /* background: #01caa7; */
    border: 2px solid #2b7b5c;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1em;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    width: 240px;
    vertical-align: middle;
}

form input:focus,
form select:focus,
form textarea:focus {
    border: 2px solid #32d347;
    outline: none;
}

form select {
    float: left;
    margin-bottom: 40px;
    appearance: none;
    width: 260px;
    border-radius: 0;
}

form input.checkbox,
form input.radio {
    margin: 0;
    padding: 2px 0;
    width: auto;
    height: auto;
}

form input.button {
    width: 270px;
    height: 40px;
    border: 0px solid #fff;
}

form textarea {
    width: 240px;
    height: 200px;
    padding: 10px;
    /* background: #01caa7; */
    border: 2px solid #2b7b5c;
}

form input.submit {
    float: left;
    margin-left: 200px;
    width: 100px;
    height: 40px;
    background: #01caa7;
}


.p-center{
	width:80%;
	margin: 40px auto;
}